body{
        margin: 2%;
        text-align: center;
        background-color: #fff6c4;
    }
    
div{
        position: absolute;
        margin-top: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

}
    
.mail-logo{
        height: 50px;
}
h3{
        font-size: 50px;
}
h5{
        font-size: 20px;
}